@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
   
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#telefone {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  
  #telefone img {
    flex: 1;
    width: 300px;
    height: 600px;
  }
  
  #tela {
    width: 255px;
    height: 449px;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -51%);
  }

#redes-sociais{
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    
}

#redes-sociais img {
    width: 40px;
    margin: 7px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.614);
    transition: transform 0.3s,border 0.5s;
}

@media screen and (min-width:500px) {
    main{
        flex-flow: wrap;
    }
    
    #redes-sociais {
    display: block;
   }

   #redes-sociais img {
    margin: 10px;
   }
}

